<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head(type)" th:remove="${type}">
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css}"
	integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" th:href="@{/css/base.css}" />
<link rel="stylesheet" th:href="@{/css/grid.css}" />
<link rel="stylesheet" th:href="@{/css/admin/admin-header.css}">
<link rel="stylesheet" th:href="@{/css/admin/admin-sidebar.css}">
</head>
<body>
	<!--  ---------------------- THONG TIN BENH AN ----------------------- -->
	<div th:fragment="thong_tin_benh_an">
		<div class="grid ml-12 mt-16" th:object="${benhNhan}">
			<div class="grid__row info-benhan-row">
				<div
					class="
            info-benhan-field__container-cell
            cell--background-primary cell--white-text
          ">
					<p class="info-benhan-field__content">Mã Bệnh án</p>
				</div>
				<div class="info-benhan-field__container-cell border--primary-thin"
					th:object="${benhAn}">
					<p class="info-benhan-field__content text-lh-24"
						th:text="${benhAn.id}"></p>
				</div>
			</div>
			<div class="grid__row info-benhan-row">
				<div
					class="
            info-benhan-field__container-cell
            cell--background-primary cell--white-text
          ">
					<p class="info-benhan-field__content">Họ tên</p>
				</div>
				<div class="info-benhan-field__container-cell border--primary-thin">
					<p class="info-benhan-field__content text-lh-24"
						th:text="${benhNhan.ten}"></p>
				</div>
			</div>
			<div class="grid__row info-benhan-row">
				<div
					class="
            info-benhan-field__container-cell
            cell--background-primary cell--white-text
          ">
					<p class="info-benhan-field__content">CMT</p>
				</div>
				<div class="info-benhan-field__container-cell border--primary-thin">
					<p class="info-benhan-field__content text-lh-24"
						th:text="${benhNhan.cmt}"></p>
				</div>
			</div>
			<div class="grid__row info-benhan-row">
				<div
					class="
            info-benhan-field__container-cell
            cell--background-primary cell--white-text
          ">
					<p class="info-benhan-field__content">Ngày sinh</p>
				</div>
				<div class="info-benhan-field__container-cell border--primary-thin">
					<p class="info-benhan-field__content text-lh-24"
						th:utext="${#dates.format(benhNhan.ngaySinh, 'dd/MM/yyyy')}"></p>
				</div>
			</div>
			<div class="grid__row info-benhan-row">
				<div
					class="
            info-benhan-field__container-cell
            cell--background-primary cell--white-text
          ">
					<p class="info-benhan-field__content">SĐT</p>
				</div>
				<div class="info-benhan-field__container-cell border--primary-thin">
					<p class="info-benhan-field__content text-lh-24"
						th:text="${benhNhan.sdt}"></p>
				</div>
			</div>
		</div>
	</div>


	<!--  ---------------------- END THONG TIN BENH AN ----------------------- -->


	<!--  ----------------------KET QUA KHAM BENH ----------------------- -->
	<div th:fragment="ket_qua_kham_benh(actor)">
		<div class="ml-12 mt-16">
			<p class="phieu-sub-heading ml-24 mb-16">Kết quả khám bệnh</p>
			<div th:each="benh : ${dsBenh}" th:object="${dsBenh}"
				class="grid ml-36">
				<div class="grid__row mt-8 grid__row--item-center">
					<i class="text-font-20 mr-4 fas fa-chevron-circle-right"></i>
					<p class="text-font-20" th:text="${benh.tenBenh}"></p>
					<th:block th:object="${dsBenhBS}">
						<button th:if="${actor=='bacsi'}"
							th:id="${benh.id}"
							class="btn btn-size-ss btn--border-primary ml-4 btn-khoi-benh">Đã
							khỏi</button>
					</th:block>

				</div>
			</div>
		</div>
	</div>
	<!--  ----------------------END KET QUA KHAM BENH ----------------------- -->


	<!--  ----------------------XEM DON THUOC ----------------------- -->
	<div th:fragment="xem_don_thuoc(actor)">
		<div class="ml-12 mt-16">
			<p class="phieu-sub-heading ml-24 mb-16">Đơn thuốc</p>
			<div class="container-add-medicine mt-16">
				<div class="grid">
					<div class="grid__row grid__row--item-center">
						<div class="grid__full-width table-list">
							<div
								class="
           							 grid__row grid__row--spbw grid__row--item-center
            					table-list__row
         					 ">
								<div class="grid__col-lg-1 table-list__th table-list__cell">STT</div>
								<div class="grid__col-lg-3 table-list__th table-list__cell">
									Tên thuốc</div>
								<div class="grid__col-lg-2 table-list__th table-list__cell">
									Liều dùng</div>
								<div class="grid__col-lg-3 table-list__th table-list__cell">
									Cách dùng</div>
							</div>
							<th:block th:each="item, state : ${donThuoc}"
								th:object="${donThuoc}">
								<div
									class="
           							 grid__row grid__row--spbw grid__row--item-center
            					table-list__row
         					 ">
									<div class="grid__col-lg-1 table-list__th table-list__cell"
										th:text="${state.count}"></div>
									<div class="grid__col-lg-3 table-list__th table-list__cell"
										 th:text="${item.getThuoc().getTen()}"></div>
									<div class="grid__col-lg-2 table-list__th table-list__cell"
										 th:text="${item.getLieuLuong()}"></div>
									<div class="grid__col-lg-3 table-list__th table-list__cell"
										 th:text="${item.getCacDung()}">
										</div>
								</div>
							</th:block>
						</div>
					</div>
				</div>
				<div th:if="${actor=='yta'}"
					class="grid__row grid__row--item-center content-item-center mt-32">
					<input type="submit" class="btn btn--primary add-form__btn"
						value="Xác nhận phát thuốc" />
				</div>
			</div>
		</div>
		<!--  ----------------------END XEM DON THUOC----------------------- -->
</body>
</html>