<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="html_head(type)" th:remove="${type}">
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet"
	th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css}"
	integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" th:href="@{/css/base.css}" />
<link rel="stylesheet" th:href="@{/css/grid.css}" />
<link rel="stylesheet" th:href="@{/css/admin/admin-header.css}">
<link rel="stylesheet" th:href="@{/css/admin/admin-sidebar.css}">

</head>
<body>
	<!--  ----------------------LIST Benh QUAN LY NHAN SU ----------------------- -->
	<div th:fragment="list_benh_qlns" th:remove="tag">
		<div class="container-list-entity grow-full" th:object="${listBenh}">
			<p class="list-entity-heading">Danh Sách Bệnh</p>
			<div class="ml-12 mt-24">
				<input id="input-search" onchange="handleSearch()" type="text"
					class="form__field-input--text" value=""
					placeholder="Nhập thông tin tìm kiếm ..." />
			</div>
			<div class="mt-16 ml-24">
				<a class="btn btn--primary btn-size-s text-font-16"
					style="display: inline-block; padding: 12px 24px; font-size: 1.6rem"
					th:href="@{/qlns/benh/add}"> <i
					class="fas fa-plus-circle mr-4 text-font-16"></i>Thêm
				</a>
			</div>
			<div class="grid__full-width table-list">
				<div
					class="grid__row grid__row--spbw grid__row--item-center table-list__row">
					<div class="grid__col-lg-1 table-list__th table-list__cell">STT</div>
					<div class="grid__col-lg-2 table-list__th table-list__cell">Mã
						bệnh</div>
					<div class="grid__col-lg-3 table-list__th table-list__cell">Tên
						Bệnh</div>
					<div class="grid__col-lg-5 table-list__th table-list__cell">Mô
						tả</div>
					<div class="grid__col-lg-1 table-list__th table-list__cell">Hành
						động</div>
				</div>
				<th:block th:each="benh, state : ${listBenh}">
					<div
						class="grid__row grid__row--spbw grid__row--item-center table-list__row">
						<div class="grid__col-lg-1 table-list__cell"
							th:utext="${state.count}"></div>
						<div class="grid__col-lg-2 table-list__cell" th:utext="${benh.id}"></div>
						<div class="grid__col-lg-3 table-list__cell"
							th:utext="${benh.tenBenh}"></div>
						<div class="grid__col-lg-5 table-list__cell"
							th:utext="${benh.mota}"></div>
						<div class="grid__col-lg-1 table-list__cell">
							<div class="grid__row">
								<a th:href="${'/qlns/benh/edit/' + {benh.id}}"
									class="table-list__cell-link"><i
									class="fas fa-edit table-list__cell-icon table-list__cell-icon--edit"></i></a>

								<button type="button" data-toggle="modal" style="outline: none;"
									data-target="#exampleModalCenter" class="table-list__cell-link">
									<i
										class="fas fa-trash-alt table-list__cell-icon table-list__cell-icon--delete"></i>
								</button>


								<!-- Modal -->
								<div class="modal fade" id="exampleModalCenter" tabindex="-1"
									role="dialog" aria-labelledby="exampleModalCenterTitle"
									aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" style="font-size: 2rem;"
													id="exampleModalLongTitle">Bạn có chắc chắn muốn xóa ?</h5>
												<button type="button" class="close" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-dismiss="modal" style="font-size: 1.6rem;">Không
													xóa</button>
												<a type="button"
													th:href="@{'/qlns/benh/delete/' + ${benh.id}}"
													class="btn btn-primary"
													style="font-size: 1.6rem; background-color: var(--primary-color);">Xóa</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</th:block>


			</div>
		</div>

	</div>
	<!--  ---------------------- END LIST BENH QUAN LY NHAN SU ----------------------- -->



	<!--  ---------------------- FORM ADD EDit Benh  QUAN LY NHAN SU ----------------------- -->

	<div th:fragment="add_form_benh_qlns(content)" th:remove="tag">
		<form class="container-add-form grow-full" method="post"
			th:object="${benh}">
			<p class="add-form__heading" th:text="${content}"></p>
			<div class="grid__full-width add-form__form">

				<div class="grid__row form__row">
					<div class="form__field-container">
						<p class="form__field-heading">Tên bệnh</p>
						<input type="text" class="form__field-input--text"
							th:field="*{tenBenh}" />
						<p th:if="${#fields.hasErrors('tenBenh')}" th:errors="*{tenBenh}"
							class="error-msg"></p>
					</div>
					<div class="form__field-container">
						<p class="form__field-heading">Mô tả</p>
						<input type="text" class="form__field-input--text"
							th:field="*{mota}" />
						<p th:if="${#fields.hasErrors('mota')}" th:errors="*{mota}"
							class="error-msg"></p>
					</div>
				</div>

				<div class="add-form__container-btn">
					<input type="submit" class="btn btn--primary add-form__btn"
						th:value="${content}" /> <a th:href="@{/qlns/benh/ds-benh}"
						class="btn btn--border-primary add-form__btn">Quay lại</a>
				</div>
		</form>
	</div>

	<!--  ---------------------- END FORM BENH  QUAN LY NHAN SU ----------------------- -->

	<!--  ---------------------- FORM ADD EDit Benh  QUAN LY NHAN SU ----------------------- -->

	<div th:fragment="bacsi_benh_qlns" th:remove="tag">
		<form class="container-add-form grow-full" method="post"
			th:object="${benhBacSi}">
			<p class="add-form__heading">Thêm bệnh chữa trị cho bác sĩ</p>
			<div class="grid__full-width add-form__form">

				<div class="grid__row form__row">
					<div class="form__field-container">
						<p class="form__field-heading">Chọn bệnh : </p>
					</div>
				</div>

				<ul th:each="item, state : ${benhBacSi.getDsBenh()}" style="list-style: none" class="mt-16 ml-16">
					<li class="grid__row grid__row--item-center" >
						<input type="checkbox" th:field="*{dsBenhChon}" th:value="${item.id}" class="text-font-16" />
						<lable th:text="${item.tenBenh}" class="ml-4 text-font-16"></lable>
					</li>
				</ul>
		
				<div class="add-form__container-btn">
					<input type="submit" class="btn btn--primary add-form__btn"
						value="Xác nhận" /> <a th:href="@{qlns/bacsi/ds-bacsi}"
						class="btn btn--border-primary add-form__btn">Quay lại</a>
				</div>
		</form>
	</div>

	<!--  ---------------------- END FORM BENH  QUAN LY NHAN SU ----------------------- -->

</body>
</html>