<!DOCTYPE html>
<html>
<head>
<div th:replace="fragments/general.html :: html_head(type='tag')"></div>
<link rel="stylesheet" th:href="@{/css/admin/addForm.css}">
</head>
<body>
	<div th:replace="fragments/general.html :: menu"></div>
	<div class="grid__full-width grid__row--spbw grid__row--item-center"
		style="width: 100vw;">
		<div class="grid__row grid__row--spbw grid__row--item-center"
			style="height: calc(100vh - 86px); width: 100%;">
			<div class="grid__col-lg-12">
				<p class="not-found-content text-font-32 text-color-primary" style="text-align: center;">404
					NOT FOUND</p>
			</div>

		</div>

	</div>
</body>
</html>